# V compiled binaries
*.exe
main
examples/*/main
examples/*/[a-z]*
!examples/*/main.v
!examples/*/*.v
!examples/*/README.md

# V cache
.vcache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Generated
generate_doc.sh
